version: '3'
services:
  backend:
    build: .
    ports:
      - 8000:8000
    environment:
      - PORT=8000
      - DATABASE_URL=postgres://postgres:robbe@db/dev5
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=robbe
      - POSTGRES_DB=dev5
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
