version: '3'
services:
  frontend:
    build:
      context: ./frotend
      dockerfile: Dockerfile
    ports:
      - "3000:3000" 

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000" 
    environment:
      - PORT=8000 
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: robbe
      POSTGRES_DB: dev5
