.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}


h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

label {
  margin-bottom: 5px;
  font-weight: bold; 
}

input[type="text"],
textarea,
input[type="date"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; 
  width: fit-content; 
}


table {
  width: 80%;
  margin-left: 10%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}


a {
  color: #007bff;
  text-decoration: none;
}


button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}


button.delete-btn {
  background-color: #dc3545;
}

.task-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}