.podcasts-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.add-podcast-form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column; 
}

.add-podcast-form h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.podcast-items {
  list-style: none;
  padding: 0;
}

.podcast-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.delete-btn{
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.edit-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.edit-podcast {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.edit-container {
  padding: 20px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column; 
}


.save-btn{
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.back-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}